body {
  padding-top: 100px;
  border: solid 2px;
}
.navbar-header a.navbar-brand {
  border-left: solid 2px;
  border-right: solid 2px;
}
.navbar-inverse a.navbar-brand {
  color: #fadede;
}
.panel.panel-primary {
  margin: 0px 10px 10px 10px;
}
.jumbotron {
  background: url("/stark.jpg");
  background-repeat: no-repeat;
  background-position: right;
  padding: 200px 0px 0px 0;
  margin-bottom: 20px;
  border: solid 2px;
}
.user-list {
  padding: 5px;
  border: solid 2px;
  margin: 10px;
  border-radius: 6px;
}
footer p {
  border-top: 1px solid #128f76;
}
.form-inline .form-group {
  padding-top: 20px;
  margin-left: 10px;
}
button {
  padding-top: 0px;
  margin-left: 0px;
}
.navabar-form.form-inline button {
  margin: 20px 0 0 10px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #13987e;
}
