body
	padding-top 100px
	border solid 2px

.navbar-header a.navbar-brand
	border solid 2px
	margin-top 10px
	margin-bottom -20px

.navbar-inverse a.navbar-brand
	color #FADEDE

.panel.panel-primary
	margin 0px 10px 10px 10px

.jumbotron{
    background: url('/stark.jpg');
    background-repeat:no-repeat;
	background-position:right;
	//background-size: cover;
	padding:200px 0px 0px 0;
	margin-bottom:20px;
	border solid 2px
}


footer
	p
		border-top 1px solid #128f76

.form-inline .form-group
		padding-top 20px
		margin-left 10px
	button
		padding-top 0px
		margin-left 0px
.navabar-form.form-inline
	button
		margin 20px 0 0 10px

.toast-top-right
	top 70px

.toast-success
	background-color #13987e