body {
  padding-top: 100px;
  border: solid 2px;
}
.navbar-header a.navbar-brand {
  border-left: solid 2px;
  border-right: solid 2px;
}
.navbar-inverse a.navbar-brand {
  color: #fadede;
}
.panel.panel-primary {
  margin: 0px 10px 10px 10px;
}
.jumbotron {
  background: url("/stark.jpg");
  background-repeat: no-repeat;
  background-position: right;
  padding: 200px 0px 0px 0;
  margin-bottom: 20px;
  border: solid 2px;
}
.user-list {
  padding: 5px;
  border: solid 2px;
  margin: 10px;
  border-radius: 6px;
}
.gridStyle {
  border: 1px solid #d4d4d4;
}
footer p {
  border-top: 1px solid #128f76;
}
.form-inline .form-group {
  padding-top: 0px;
  margin-left: 7px;
}
button {
  padding-top: 0px;
  margin-left: 10px;
}
h2 form.add {
  display: inline-block;
}
.navabar-form.form-inline {
  margin: 10px 0 0 10px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #13987e;
}
.table th {
  background-color: #13987e;
}
.table th,
.table td {
  text-align: center;
}
.navbar-inverse {
  background-color: #00bc8d;
  border-color: #128f76;
}
.navbar-inverse .navbar-nav li a {
  color: #f9f9f9;
}
.input-group .dropdown-menu {
  padding-right: 20px;
}
.input-group .dropdown-menu :focus {
  outline: 0;
}
.btn.btn-default.btn-sm.pull-right {
  margin-left: 20px;
}
