extends ../includes/layout

block main-content
	.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand(href="/") Vodilamean
					h6 -Bad drivers
			.navbar-collapse.collapse
				ul.nav.navbar-nav
					li
						a(href="/") Home


	section.content
		div(ng-view)
			h1 message from Angular MainCtrl = {{myVar}}
		img(src='http://upload.wikimedia.org/wikipedia/ru/4/4c/Robert_Downey_Jr_as_Tony_Stark.jpg')
	h2=mongoMessage

	footer.container.text-center
		p &copy; 2014 DaimonX HelloWorld Production Ltd.