extends ../includes/layout

block main-content
	.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand(href="/") Vodilamean
			.navbar-collapse.collapse
				div(ng-include="'/partials/account/navbar-login'")
				ul.nav.navbar-nav
					li
						a(href="/") Главная
					li
						a(href="/violations") Нарушения
					li
						a(ui-sref="violations.map") Карта нарушений
			
	section.content
		//- div(ng-view)
		div(ui-view="content")
		
	footer.container.text-center
		p &copy; 2014 DaimonX HelloWorld Production Ltd.