.container
	.user-list
		a Список зарегестрированных пользователей.[user-list.jade Controller: {{titles}}]
		table.table
			tr(ng-repeat="user in users")
				td {{user.firstName + ' ' + user.userName+ ' '+user.lastName}}