.container(ng-controller="dxViolCtrl")
	h2 Нарушения
		form.add.pull-right(action="/violations/add")
			input.btn.btn-primary(type='submit', value='Добавить новое нарушение')
	
	table.table.table-bordered.table-hover
		tr
			th.col-md-1 Марка автомобиля
			th.col-md-2 Номерной знак
			th.col-md-2 Описание
			th.col-md-2 Дата
			th.col-md-2 User
		tr(ng-repeat="violation in violations")
			td.col-md-1{{violation.brand +" "+violation.model}}
			td.col-md-1{{violation.number}}
			td.col-md-1{{violation.description}}
			td.col-md-1{{violation.date | date:'yyyy-MM-dd'}}
			td.col-md-1{{violation.userOwnerID}}