.navbar-right(ng-controller="mvNavBarLoginCtrl")
	form.navabar-form.form-inline(ng-hide="identity.isAuthenticated()")
		.form-group
			input.form-control(placeholder="Имя пользовотеля", ng-model="username")
		.form-group
			input.form-control(type="password", placeholder="Пароль", ng-model="password")		
		button.btn.btn-primary(ng-click="signIn(username,password)") Вход