.container
  .jumbotron
    h1 Vodilamean
    p Добро пожаловать на сайт Vodilamean!
    p Этот сайт сделан для сбора информации о наглых и опасных водителях.
 .row
    .col-md-6
      div(ng-include="'/partials/main/featured-courses'")
    .col-md-6
      div(ng-include="'/partials/main/new-courses'")